*.pyc
*.tmp
\.idea
\.pytest_cache
.vscode
.mypy_cache
*.npz
.cache
.DS_Store
pintode.egg-info/*
*vtk
quadqs_statistics.json

neuralhub.egg-info
neuralhub.egg-info/*
neuralhub/__pycache__/*

# For tensorboard logs
*v2
*ubyte.gz
*json.gz
*.pb

# For slurm out files
*.out

# For Isambard
*.pbs*
!scripts/isambard.pbs

# Artifacts of testing
graphpint/tests/data/*

## Pytorch data savings
*-ubyte

## Don't save equinox models
*.eqx
*.log

## Ignore the example data
examples/data/

## Cprofile
examples/runs/cprofile/*

## Ignore all "checkpoint" folders
**/checkpoint/*

## Data
examples/pendulums/data/*
examples/dahlquist/data/*
examples/lotka-voltera/data/*
examples/lotka-voltera/lightning_logs/*



examples/hierarchical-lfads/runs/*
examples/hierarchical-lfads/data/sleep_data.npy


!examples/hierarchical-lfads/runs/241115-210451-Sleep
!examples/hierarchical-lfads/runs/241116-191238-GoodCDE
!examples/hierarchical-lfads/runs/241127-152228-SuperVariational
examples/hierarchical-lfads/runs/241127-152228-SuperVariational/train_latents_full.npy
examples/hierarchical-lfads/runs/241127-152228-SuperVariational/valid_latents_full.npy

!examples/hierarchical-lfads/runs/241213-131334-Linguistic
!examples/hierarchical-lfads/runs/241213-131334-Linguistic/model_lfads.eqx

examples/time-series/runs/*
examples/time-series/data/*
examples/time-series/wandb/*

!examples/time-series/runs/250214-104530-MegaGenius*
!examples/time-series/runs/250215-020741-HyperGenius*
!examples/time-series/runs/250215-020741-HyperGenius*
!examples/time-series/runs/250302-134550-ExaGenius*
!examples/time-series/runs/250303-164950-PetaGenius*
!examples/time-series/runs/250303-190002-SuperCelebA*
!examples/time-series/runs/250304-205114-BestCeleb64*
!examples/time-series/runs/250304-170656-BestCelebA16*
!examples/time-series/runs/250316-154401-CondNeuralProcess*
!examples/time-series/runs/250317-175646-MNIST-CanonicalCoords*
